@font-face {
    font-family: 'GothamAlt';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/HomepageBaukasten-Book.eot'), /* IE9 Compat Modes */
         url('../fonts/HomepageBaukasten-Book.ttf') format('ttf'), /* IE6-IE8 */
         url('../fonts/HomepageBaukasten-Book.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/HomepageBaukasten-Book.woff') format('woff'), /* Modern Browsers */
  }



h2 {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: lighter;
    color: $gray-600;
}

h3 {
    font-size: 30px;
    line-height: 42px;
    font-weight: bolder;
}

p {
    font-size: 14px;
    line-height: 22px;
    color: $gray-600;
}