@font-face {
    font-family: 'GothamAlt';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/HomepageBaukasten-Book.eot'), /* IE9 Compat Modes */
         url('../fonts/HomepageBaukasten-Book.ttf') format('ttf'), /* IE6-IE8 */
         url('../fonts/HomepageBaukasten-Book.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/HomepageBaukasten-Book.woff') format('woff'), /* Modern Browsers */
  }




@mixin h2 {
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: lighter;
    color: $gray-600;
}

@mixin h3 {
    font-size: 30px;
    line-height: 42px;
    font-weight: bolder;

     @include media-breakpoint-down(md) {
        font-size: 26px;
        line-height: 36px;
    }
}

h3 {
    @include h3;
}

h2 {
    @include h2;
}


p {
    font-size: 14px;
    line-height: 22px;
    color: $gray-600;
}