// *****  START.SCSS  *****
// All great things starts here.

html,body {
    font-family: 'GothamAlt' !important;
    overflow-x: hidden !important;
}

@mixin slide-in($waitTime) {
    animation: 
        slide-up #{$waitTime},
        slide-in 4s #{$waitTime};
}


@mixin fade-in($waitTime) {
    animation: 
        fade-up #{$waitTime},
        fade-in 4s #{$waitTime};
}

@mixin fade-in-long($waitTime) {
    animation: 
        fade-up 1s,
        fade-in 6s 1s;
}


.section.active .slide-up-1 {
    opacity: 1;
    @include slide-in('1s');
}

.section.active .slide-up-2{
    opacity: 1;
    @include slide-in('1.3s');
}

.section.active .slide-up-3 {
    opacity: 1;
    @include slide-in('1.5s');
}

.section.active .slide-up-4 {
    opacity: 1;
    @include slide-in('2s');
}



.section.active .fade-in-1 {
    opacity: 1;
    @include fade-in('1s');
}

.section.active .fade-in-long-1 {
    opacity: 1;
    @include fade-in-long('1s');
}

.section.active .fade-in-2{
    opacity: 1;
    @include fade-in('1.5s');
}

.section.active .fade-in-3 {
    opacity: 1;
    @include fade-in('1.9s');
}

.section.active .fade-in-4 {
    opacity: 1;
    @include fade-in('2.3s');
}

.slide-up-1, .slide-up-2, .slide-up-3, .slide-up-4,
.fade-in-1, .fade-in-2, .fade-in-3, .fade-in-4 {
    position: relative;
}

@keyframes slide-up {
    0% {top: 50px; opacity: 0;}
    60% {top: 50px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
  }

  @keyframes slide-down {
    0% {top: 0px; opacity: 1;}
    100% {top: 50px; opacity: 0;}
  }


  @keyframes fade-up {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {opacity: 1;}
  }

// .delay-1 {
//     animation-delay: 1s;
// }
// .delay-2 {
//     animation-delay: 1.7s;
// }
// .delay-3 {
//     animation-delay: 2.3s;
// }
// .delay-4 {
//     animation-delay: 3.0s;
// }



.fact {
    text-align: center;
    color: $light;

    &.big {
        font-size: 23px;
        font-weight: bolder;
        margin-bottom: 5px;

        span {
            font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 35px;

            span {
                font-size: 18px;
            }
        }

    }
    &.small {
        font-size: 11px;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

} // .fact



.section {    
    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
    
    
    .fp-tableCell {
        vertical-align: top;
    }
}

#header {
    z-index: 9999;
}

#top {
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    top: 10px;
    right: 25px;
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: 3px solid black;
    border-left: 3px solid black;
}

@include media-breakpoint-down(md) {
    #header {
        position: fixed;
        //background: #fff;
        height: auto;
        width: 100%;
        z-index: 9999;
        
        transition: all 0.5s ease-in;

        #logo {
            position: relative;
            top:5px;
            left: 10px;
            display: block;
            

            svg path {
                fill: black;
            }

        }

        #buttons {
            display: flex;
            visibility: hidden;
            justify-content: center;
        }

        .btn.btn-primary:first-of-type {
            width: unset;
            background: black;
            color: white;
            font-size: 10px;
            padding: 4px 24px;
            margin: 30px 5px 10px;
        }

        .btn.btn-primary:nth-of-type(2) {
            width: unset;
            background: white;
            color: black;
            font-size: 10px;
            padding: 4px 24px;
            margin: 30px 5px 10px;
        }

    }
}

@include media-breakpoint-up(lg) {
    #buttons {
        display: none;
    }

    #logo {
        position: fixed;
        top:15px;
        left: 20px;
        display: block;
        z-index: 9999;

        svg path {
            fill: black;
            transition: .3s fill ease;
        }
    }

    #top {
        position: fixed;
        top: 20px;
        right: 20px;
    }

}




.btn.btn-primary {
    color: black;
    border: 3px solid black;
    border-radius: 100px;
    background-color: unset;
    padding: 7px 30px;
    text-transform: uppercase;
    width:100%;
    font-size: 12px;

    &:hover, &:focus, &:active {
        background-color: black;
        border-color: black;
        color: $light;
    }

    @include media-breakpoint-up(md) {
        font-size: 14px;
        width: unset;
   }

}

.btn.btn-secondary {
    color: black;
    background-color: unset;
    border: none;
    font-size: 12px;
    margin: 0;
    padding:0;

    .label {
        position: relative;
        bottom: 5px;
    }

    .button {
        color: black;
        border: 3px solid black;
        border-radius: 40px;
        background-color: unset;
        padding: 3px 8px;
        width: 87px;
        height: 30px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-right: 10px;
        font-size: 25px;
    }

    &:hover .button, &:focus, &:active {
        background-color: black;
        border-color: black;
        color: $light;
    }
}


#sec3 {
    background: black;
}

#sec4 {
    background: black;
}

