// *****  START.SCSS  *****
// All great things start here.

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

html,body {
    font-family: proxima-nova, 'Montserrat' !important;
    overflow-x: hidden !important;
}


.fact {
    text-align: center;
    color: $light;

    &.big {
        font-size: 23px;
        font-weight: 600;

        span:not(.counter) {
            font-size: 16px;
        }

        @include media-breakpoint-up(lg) {
            font-size: 35px;

            span:not(.counter) {
                font-size: 18px;
            }
        }

    }
    &.small {
        font-size: 11px;
        line-height: 20px;

        @include media-breakpoint-up(lg) {
            font-size: 14px;
        }
    }

} // .fact



.section {    
    @include media-breakpoint-up(lg) {
        height: 100vh;
    }
    
    
    .fp-tableCell {
        vertical-align: top;
    }
}

#header {
    z-index: 999999999;
}

#top {
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    top: 10px;
    right: 25px;
    display: block;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-top: 3px solid black;
    border-left: 3px solid black;

    transition: 0.3s all ease-in-out;
}

@include media-breakpoint-down(md) {
    #header {
        position: fixed;
        //background: #fff;
        height: auto;
        width: 100%;
        z-index: 9999;
        
        transition: all 0.5s ease-in;

        #logo {
            position: relative;
            top:5px;
            left: 10px;
            display: block;
            

            svg path {
                fill: black;
            }

        }

        #buttons {
            display: flex;
            visibility: hidden;
            justify-content: center;
        }

        .btn.btn-primary:first-of-type {
            width: unset;
            background: black;
            color: white;
            font-size: 10px;
            padding: 4px 24px;
            margin: 30px 5px 10px;
        }

        .btn.btn-primary:nth-of-type(2) {
            width: unset;
            background: white;
            color: black;
            font-size: 10px;
            padding: 4px 24px;
            margin: 30px 5px 10px;
        }

    }
}

@include media-breakpoint-up(lg) {
    #buttons {
        display: none;
    }

    #logo {
        position: fixed;
        top:20px;
        left: 25px;
        display: block;
        z-index: 9999;

        svg path {
            fill: black;
            transition: .3s fill ease;
        }

        &:hover {
            cursor: pointer;
        }
    }

    #top {
        position: fixed;
        top: 20px;
        right: 20px;
    }

}




.btn.btn-primary {
    color: black;
    border: 3px solid black;
    border-radius: 100px;
    background-color: unset;
    padding: 7px 40px;
    text-transform: uppercase;
    width:100%;
    font-size: 12px;

    &:hover, &:focus, &:active {
        background-color: black;
        border-color: black;
        color: $light;
    }

    @include media-breakpoint-up(md) {
        font-size: 14px;
        width: unset;
   }

}

.btn.btn-secondary {
    color: black;
    background-color: unset;
    border: none;
    font-size: 12px;
    margin: 0;
    padding:0;

    .label {
        position: relative;
        bottom: 5px;
    }

    .button {
        color: black;
        border: 3px solid black;
        border-radius: 40px;
        background-color: unset;
        padding: 3px 8px;
        width: 87px;
        height: 30px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-right: 10px;
        font-size: 25px;
    }

    &:hover .button, &:focus, &:active {
        background-color: black;
        border-color: black;
        color: $light;
    }
}


#sec3 {
    background: black;
}

#sec4 {
    background: black;
}

