// *****  SECTION2.SCSS  *****
// Styles for section 2

#sec2 {
    .top {
        height: 70vh;
        background-image: url("../img/backofen_retuschiert.png");
        background-size: cover;
        background-position: 50% 75%;
        display: flex;
        box-shadow: inset -22em -2em 13em rgba(0, 0, 0, 0.6);

        @include media-breakpoint-down(md) {
            padding: 100px 0;
            height: unset;
        }

        .facts {
            position: relative;

            .fact {
                text-align: left;
            }

            .icon {
                width: 35px;
                height: 35px;
                margin-right: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 8px;

                &.fan {
                    background: url("../img/icons/fan-icon.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                &.two-side {
                    background: url("../img/icons/Two-Side-Icon.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .row {
                height: 100%;
                align-content: center;
            }

            .row--1 {
                padding: 0px 0px;

                &:first-of-type:after,
                &:nth-of-type(2):after {
                    content: "";
                    width: 50px;
                    height: 1px;
                    background: white;
                    display: block;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                @include media-breakpoint-up(md) {
                    padding: 0px 25px;
                }
            }
        }
    }

    .bottom {
        height: auto;
        padding: 30px 0;
        display: flex;

        @include media-breakpoint-up(lg) {
            height: 30vh;
        }

        .col-md-4 {
            // padding-bottom: 20px;
        }

        .container-lg {
            display: flex;
            align-items: center;

            @include media-breakpoint-between(sm, md) {
                margin: 0 30px;
            }
        }

        .btn.btn-primary {
            margin-top: 10px;

            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
                width: auto;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
    }
}
