#sec2 {
    .top {
        height: 65vh;
        background-image: url("../img/performance.jpg");
        background-size: cover;
        background-position: 50% 30%;
        display: flex;


        .facts {
            position: relative;

            .fact {
                text-align: left;
                
            }

            .row {
                height: 100%;
                align-content: center;
            }

            .row--1 {                
                padding: 0px 25px;

                &:first-of-type:after, &:nth-of-type(2):after {
                    content: "";
                    width: 50px;
                    height: 1px;
                    background: white;
                    display: block;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }


        }


    }

    .bottom {
        
        height: auto;
        padding: 30px 0;
        display: flex;

        @include media-breakpoint-up(lg) {
            height: 35vh;
        }
        
        .col-md-4 {
            // padding-bottom: 20px;
        }

        .container-md {
            display: flex;
            align-items: center;
        }

        .btn.btn-primary {
            margin-top: 10px;

            @include media-breakpoint-down(lg) {
                margin-bottom: 30px;
            }
        }
    }

}