.sec3 {
    
    .col-md-6.col--1 {
        display: flex;
        justify-content: center;
        padding: 00px;

        @include media-breakpoint-up(lg) {
            padding: 0 50px;

        }

    }

    img {
        width: 100%;
        height: auto;
        align-self: center;
    }

    .datas {
        margin-top: 100px;
    }

    h2 {
        @include h3;
        color: white;
    
        span {
            font-size: 26px;
            opacity: .8;
            font-weight: 100;
        }
    }    

    .data {
        color: white;
        padding-top: 20px;

        &:before {
            content: "";
            margin-top: 16px;
            margin-bottom: 5px;
            display: block;
            width: 30px;
            height: 1px;
            opacity: .5;
            background: white;
        }

        .big {
            font-size: 14px;
            font-weight: bolder;
        }

        .small {
            font-size: 14px;
            opacity: .7;
        }

    }


}