// *****  SECTION5.SCSS  *****
// Styles for section 5

#sec5 {
    .col--2.bild {
        background-image: url("../img/nachhaltigkeit.png") !important;
        background-size: cover;
        background-position: 50% 75%;
        height: 100vh;
        width: 100%;
        box-shadow: inset 0em -40em 40em -10em white;

        @include media-breakpoint-down(md) {
            height: 100vh;
        }

        .fact {
            text-align: left;
            color: black;
            padding-right: 30px;
        }

        .row.facts {
            position: absolute;
            bottom: 10vh;

            .big {
                line-height: 30px;
                padding-bottom: 10px;
            }

            .col-12 {
                height: auto;
            }

            .col-md-4:first-of-type,
            .col-md-4:nth-of-type(2) {
                border-right: 1px solid black;
            }

            @include media-breakpoint-down(sm) {
                .col-md-4 {
                    border-right: 0px !important;
                    padding: 0px 25px;

                    &:first-of-type:after,
                    &:nth-of-type(2):after {
                        content: "";
                        width: 50px;
                        height: 1px;
                        background: black;
                        display: block;
                        margin-top: 30px;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

#sec1,
#sec5 {
    position: relative;

    .cta {
        @include media-breakpoint-down(lg) {
            margin-top: 20px;
        }

        p {
            margin: 0 !important;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 7vh;
            display: flex;
        }

        .btn.btn-primary,
        .btn.btn-secondary {
            margin-top: 10px;

            @include media-breakpoint-up(lg) {
                margin-top: unset;
            }
        }

        .btn.btn-primary {
            width: 100%;

            @include media-breakpoint-up(sm) {
                width: unset;
            }

            @include media-breakpoint-up(md) {
                font-size: 14px;
                width: unset;
            }
        }

        .btn.btn-primary {
            justify-self: flex-end;
        }

        .btn.btn-secondary {
            margin-right: 10px;
        }
    }

    .col--1 {
        padding: 50px 20px 50px;

        @include media-breakpoint-up(sm) {
            padding: 60px 50px 50px;

            h3 {
                padding-right: 00px;

                @include media-breakpoint-up(lg) {
                    padding-right: 120px;
                }
            }
        }

        p {
            margin: 10px 40px 20px 0;

            @include media-breakpoint-up(lg) {
                margin: 10px 100px 20px 0;
            }
        }

        .starbox {
            margin-top: 40px;
            width: 100%;
            padding: 30px 20px;
            border-radius: 30px;
            background-color: #eeeeee;

            .row {
                .col-6 {
                    padding: 0;
                    height: 35px;
                }
            }

            @include media-breakpoint-up(sm) {
                padding: 30px 25px;
            }

            @include media-breakpoint-between(sm, md) {
                width: 370px;
            }

            h4 {
                font-weight: 600;
                font-size: 21px;
                text-align: center;
                line-height: 30px;
                margin-bottom: 10px;
            }

            p {
                font-weight: bolder;
                font-size: 14px;
                margin: 5px 0 10px;
                color: $gray-600;

                &.star {
                    font-size: 16px;
                    justify-self: end;
                    text-align: right;
                    color: $gray-900;
                }

                @include media-breakpoint-up(sm) {
                    font-size: 16px;

                    &.star {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .col--2 {
        display: flex;
        justify-content: center;

        background: #f2f2f2;

        position: relative;
        padding: 50px 0;

        @include media-breakpoint-up(lg) {
            height: 100vh;
            padding: 0px;
        }

        .annots-container {
            background-image: url("../img/annots1.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            align-self: center;
            display: block;
            width: 100%;
            padding-top: 56.25%;

            @include media-breakpoint-down(lg) {
                left: 30%;
                padding-top: 84.25%;
                min-width: 150%;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &.active .annots .annot-text {
            span {
                transition: 0.3s opacity ease-in 1.3s;
                opacity: 1 !important;
            }

            &:before {
                transition: 0.4s all ease-in 1s;
                transform: scaleY(1) !important;
                content: "";
            }

            &:after {
                transition: 0.1s opacity ease-in 1.3s;
                opacity: 1 !important;
            }
        }
    }

    .annots {
        .annot-first,
        .annot-second,
        .annot-third {
            position: absolute;
            z-index: 99;

            .annot-text {
                position: absolute;
                width: 300px;
                height: 100%;

                @include media-breakpoint-down(lg) {
                    text-align: right;
                    position: relative;
                    width: 100%;
                }

                span {
                    position: relative;
                    font-size: 15px;
                    font-weight: 600;
                    width: auto;
                    color: rgba(black, 0.7);
                    opacity: 0;

                    @include media-breakpoint-down(lg) {
                        opacity: 1;
                    }
                }

                &:before {
                    width: 3px;
                    background: black;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 10px;
                    bottom: 0;
                    left: -10px;
                    z-index: 9999999;
                    transform: scaleY(0);

                    @include media-breakpoint-down(lg) {
                        transform: scaleY(1);

                        left: unset;
                        right: -10px;
                    }
                }

                &:after {
                    width: 10px;
                    height: 10px;
                    background: white;
                    border: 3px solid black;
                    border-radius: 15px;
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: -13.5px;
                    z-index: 9999999;

                    opacity: 0;

                    @include media-breakpoint-down(lg) {
                        opacity: 1;

                        left: unset;
                        right: -13.5px;
                    }
                }
            }

            .annot-text.down {
                @include media-breakpoint-down(lg) {
                    text-align: right;
                    position: relative;
                    width: 100%;
                }

                &:before {
                    bottom: 10px;

                    @include media-breakpoint-down(lg) {
                        right: -10px !important;
                        left: unset;
                    }
                }
                span {
                    position: absolute;
                    bottom: 0px;

                    @include media-breakpoint-down(lg) {
                        text-align: right;
                        width: 100%;
                        left: 0;
                    }
                }

                &:after {
                    top: 0px;
                    bottom: unset;

                    @include media-breakpoint-down(lg) {
                        opacity: 1;
                        left: unset;
                        right: -13.5px;
                    }
                }
            }
        }

        .annot-first {
            left: 30%;
            top: 3%;
            height: 44%;

            @include media-breakpoint-down(lg) {
                top: 17%;
                height: 29%;
                left: 3%;
                width: 25%;
            }
        }

        .annot-second {
            left: 45%;
            top: 62%;

            height: 37%;

            @include media-breakpoint-down(lg) {
                top: 62%;
                height: 37%;
                width: 30%;
                left: 17%;
            }
        }

        .annot-third {
            left: 62%;
            top: 6%;
            height: 54%;

            @include media-breakpoint-down(lg) {
                top: 0%;
                height: 38%;
                left: 16%;
                width: 25%;
            }
        }
    }
}
