
#sec1 {
    position: relative;

    .cta {

        @include media-breakpoint-down(lg) {
            margin-top: 20px;
        }

        p {
            margin:0 !important;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 7vh;
            display: flex;
        }

        .btn.btn-primary, .btn.btn-secondary {
            margin-top: 10px;

            @include media-breakpoint-up(lg) {
                margin-top:unset;
            }
        }

        .btn.btn-primary {
            width:100%;
        
            @media screen and (min-width: 440px) {
                width: unset;
            }
        
            @include media-breakpoint-up(md) {
                font-size: 14px;
                width: unset;
           }
        
        }

        .btn.btn-primary {
            justify-self: flex-end;
        }

        .btn.btn-secondary {
            margin-right: 10px;
        }

    }

    .col--1 {
        padding: 50px 20px 50px;

        @include media-breakpoint-up(sm) {
            padding: 60px 50px 50px;

            h3 {
                padding-right: 120px;
            }
    
        }
        
        p {
            margin: 20px 40px 20px 0;
        } 

        .starbox {
            margin-top: 40px;
            width: 100%;
            padding: 30px 20px;
            border-radius: 30px;
            background-color: #eeeeee;

            .row {
                .col-6 {
                    padding: 0;
                    height: 30px;
                }
            }

            @include media-breakpoint-up(sm) {
                padding: 30px 15px;
            }

            @include media-breakpoint-between(sm, md) {
                width: 370px;
            }

            
            h4 {
                font-weight: bolder;
                font-size: 21px;
                text-align: center;
                line-height: 30px;
                margin-bottom: 20px;
            }

            p {
                font-weight: bolder;
                font-size: 14px;
                margin: 5px 0 10px;
                color: black;

                &.star {
                    font-size: 16px;
                    justify-self: end;
                    text-align: right;
                }

                @include media-breakpoint-up(sm) {
                    font-size: 16px;

                    &.star {
                        font-size: 18px;
                    }
                }
            }

        }

    }

    .col--2 {
        background: #f2f2f2;
        height: 100vh;
        background-image: url("../img/annots1.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        position: relative;
    }


    .collapse {
        padding: 100px 0;
        background: $gray-900;
        color: $light;
                    

        .row:nth-of-type(even) {
            .col-md-6:nth-of-type(2) {
                padding-right:0px;
            }
        }

        .row:nth-of-type(odd) {
            .col-md-6:nth-of-type(2) {
                padding-left:0px;
            }
        }

        .col-md-6 {
        
            &:nth-of-type(odd) {
                padding: 50px 100px;
            }

        }
                   

        img {
            width: 100%;
            height: auto;
        }

    }


    &.active .annots .annot-text {
        span {
            transition: .3s opacity ease-in 1.3s;
            opacity: 1 !important;
        }
        
        &:before {
            transition: .4s all ease-in 1s;
            transform: scaleY(1) !important;
            content: "";
        }

        &:after {
            transition: .1s opacity ease-in 1.3s;
            opacity: 1 !important;
        }
    }

    .annots {

        .annot-first, .annot-second, .annot-third {
            position: absolute;
            

            .annot-text {

                span {
                    opacity: 0;
                }

                &:before {
                    height: 30vh;
                    width: 3px;
                    background: black;
                    content: "";
                    display: block;
                    position: relative;
                    top: 30vh;
                    left: -10px;
                    z-index: 9999999;
                    transform: scaleY(0);

                }

                &:after {
                    width: 10px;
                    height: 10px;
                    background: white;
                    border: 3px solid black;
                    border-radius: 15px;
                    content: "";
                    display: block;
                    position: relative;
                    top: calc(30vh - 30px);
                    left: -13.5px;
                    z-index: 9999999;

                    opacity: 0;
                }
            }

            .annot-text.down {
                &:before {
                    top: 5vh;
                    left: -10px;
                }

                &:after {
                    top: calc(-30vh + 5px);
                    left: -13.5px;
                }
            }

        }


        .annot-first {
            left: 30%;
            top:-20%;
        }

        .annot-second {
            left: 50%;
            top: 60%;

        }

        .annot-third {
            left: 60%;
            top: 5%;

            .annot-text {
                &:before {
                    height: 20vh;
                    width: 3px;
                    top: 20vh;
                    left: -10px;
                }

                &:after {
                    top: calc(20vh - 30px);
                    left: -13.5px;
                }
            }

        }


    }



}
