.sec4 {

@include media-breakpoint-down(sm) {
    padding-top: 50px;
}

@include media-breakpoint-down(lg) {
    padding-top: 100px;
}

    img {
        width:100%;
    }


    .container-fluid {
        padding-left:0;
        padding-right:0;
        height: auto;
        padding-bottom: 10px;

        @include media-breakpoint-up(lg) {
            height: 100vh;
            padding-bottom: 75px;
        }

        .row {
            height: 100%;
            align-content: center;
            
        }

        .col-md-4 {
            align-self: center;
        }

        .col--1 {
            @include media-breakpoint-down(sm) {
                margin: 0 15px;
            }

            @include media-breakpoint-between(sm,sm) {
                padding: 0 50px;
            }

        }

        .col--2 {
            @include media-breakpoint-down(sm) {
                margin: 80px 0 50px;
            }
        }

    }


    h2 {
        @include h3;
        color: white;
    }

    @include media-breakpoint-down(lg) {
        .btn {
            margin-top: 10px;
            width: 100%;
        }
    }

    .btn.btn-primary:first-of-type {
        border: 3px solid white;
        background: white;
        color: black;
        margin-right: 5px;
    }

    .btn.btn-primary:nth-of-type(2) {
        border: 3px solid white;
        color: white;

        &:hover {
            background: white;
            color: black;
        }

    }

    .footer {
        text-align: center;

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0px;
            width: 100%;
            // border: 1px solid green;
            left: 50%;
            transform: translate(-50%);
            text-align: left;
        }

        ul {

            @include media-breakpoint-up(md) {
                display: flex;
                margin-top:0px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 100px;
            }

            margin-top: 100px;
            list-style: none;
            // border: 1px solid red;
            justify-content: center;
            padding:0;

            li {

                padding: 15px 0 5px;

                @include media-breakpoint-up(md) {
                    padding: 0 20px;
                }

                a {
                    color: white;
                    font-size: 14px;
                    
                    &:hover {
                        text-decoration: none;
                    }
                }
                
            }
        }
    }


}