#sec1 {
    position: relative;

    .cta {
        @include media-breakpoint-down(lg) {
            margin-top: 20px;
        }

        p {
            margin: 0 !important;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 7vh;
            display: flex;
        }

        .btn.btn-primary,
        .btn.btn-secondary {
            margin-top: 10px;

            @include media-breakpoint-up(lg) {
                margin-top: unset;
            }
        }

        .btn.btn-primary {
            width: 100%;

            @media screen and (min-width: 440px) {
                width: unset;
            }

            @include media-breakpoint-up(md) {
                font-size: 14px;
                width: unset;
            }
        }

        .btn.btn-primary {
            justify-self: flex-end;
        }

        .btn.btn-secondary {
            margin-right: 10px;
        }
    }

    .col--1 {
        padding: 50px 20px 50px;

        @include media-breakpoint-up(sm) {
            padding: 60px 50px 50px;

            h3 {
                padding-right: 120px;
            }
        }

        p {
            margin: 20px 40px 20px 0;
        }

        .starbox {
            margin-top: 40px;
            width: 100%;
            padding: 30px 20px;
            border-radius: 30px;
            background-color: #eeeeee;

            .row {
                .col-6 {
                    padding: 0;
                    height: 30px;
                }
            }

            @include media-breakpoint-up(sm) {
                padding: 30px 15px;
            }

            @include media-breakpoint-between(sm, md) {
                width: 370px;
            }

            h4 {
                font-weight: bolder;
                font-size: 21px;
                text-align: center;
                line-height: 30px;
                margin-bottom: 20px;
            }

            p {
                font-weight: bolder;
                font-size: 14px;
                margin: 5px 0 10px;
                color: black;

                &.star {
                    font-size: 16px;
                    justify-self: end;
                    text-align: right;
                }

                @include media-breakpoint-up(sm) {
                    font-size: 16px;

                    &.star {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .col--2 {
            display: flex;
            justify-content: center;

            background: #f2f2f2;
            height: 100vh;
            position: relative;

        .annots-container {
            background-image: url("../img/annots1.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            border: 1px solid red;
            align-self: center;
            display: block;

            width: 100%;
            padding-top: 56.25%;

            @include media-breakpoint-down(lg) {
                left:50%;
            }
            
        }

    }


    .collapse {
        padding: 100px 0;
        background: $gray-900;
        color: $light;

        .row:nth-of-type(even) {
            .col-md-6:nth-of-type(2) {
                padding-right: 0px;
            }
        }

        .row:nth-of-type(odd) {
            .col-md-6:nth-of-type(2) {
                padding-left: 0px;
            }
        }

        .col-md-6 {
            &:nth-of-type(odd) {
                padding: 50px 100px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }



@include media-breakpoint-up(lg) {
    &.active .annots .annot-text {
        span {
            transition: 0.3s opacity ease-in 1.3s;
            opacity: 1 !important;
        }

        &:before {
            transition: 0.4s all ease-in 1s;
            transform: scaleY(1) !important;
            content: "";
        }

        &:after {
            transition: 0.1s opacity ease-in 1.3s;
            opacity: 1 !important;
        }
    }
}
    

    .annots {
        .annot-first,
        .annot-second,
        .annot-third {
            position: absolute;

            .annot-text {
                position: absolute;
                width: 300px;
                height: 100%;

                @include media-breakpoint-down(lg) {
                    text-align:right;
                    position: relative;
                    width: 100%;
                }

                span {
                    position: relative;
                    font-size: 15px;
                    width: auto;
                    color: rgba(black,0.7);
                    opacity: 0;

                    // background: rgba(255,255,255,0.8);
                    // border-radius: 15px;
                    // padding: 5px 10px;

                    @include media-breakpoint-down(lg) {
                        opacity: 1;
                    }
                }

                &:before {
                    width: 3px;
                    background: black;
                    content: "";
                    display: block;
                    position: absolute;
                    top: 10px;
                    bottom: 0;
                    left: -10px;
                    z-index: 9999999;
                    transform: scaleY(0);

                    @include media-breakpoint-down(lg) {
                        transform: scaleY(1);

                        left: unset;
                        right: -10px;
                    }
                }

                &:after {
                    width: 10px;
                    height: 10px;
                    background: white;
                    border: 3px solid black;
                    border-radius: 15px;
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0px;
                    left: -13.5px;
                    z-index: 9999999;

                    opacity: 0;

                    @include media-breakpoint-down(lg) {
                        opacity: 1;

                        left: unset;
                        right: -13.5px;
                    }
                }
            }


            .annot-text.down {
                &:before {
                    bottom: 10px;
                }

                span {
                    position: absolute;
                    bottom: 0px;
                }

                &:after {
                    top: 0px;
                    bottom: unset;
                }
            }
        }

        .annot-first {
            left: 30%;
            top: 8%;

            height: 40%;
        }

        .annot-second {
            left: 45%;
            top: 65%;

            height: 30%;
        }

        .annot-third {
            left: 62%;
            top: 10%;

            height: 50%;
        }
    }
}
