#stage {
    background-image: url("../img/stage1.jpg");
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(lg) {
        height: 100vh;
       
        .container {

             .row {
                 padding: 0px;
             }
        }
       
    }

    h1#headline {
        text-align:center;
        font-size: 30px;
        font-weight: 600;
        color: white;
        padding-top: 15%;

        @include media-breakpoint-up(lg) {
            font-size: 40px;
            padding-top: 10%;
        }    

    }

    .facts {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 50px;
        padding:30px;
        
        @include media-breakpoint-up(lg) {
            bottom: 10%;
        }

        @include media-breakpoint-up(xl) {
            .col-md-8 {
                padding: 0 80px;
            }
        }

        @include media-breakpoint-up(xxl) {
            .col-md-8 {
                padding: 0 180px;
            }
        }

        .col-4 {
            padding: 0px 0 5px;

            .fact {
                color: white;
            }
            


            &:first-of-type, &:nth-of-type(2) {
                border-right: 1px solid white;
            }
        }
            
        .col-12 {
            text-align:center;
            
            .btn.btn-primary {
                color: white;
                border-color: white;
                position: relative;
                top: 50%;
                transform: translate(0, -50%);

                &:hover {
                    border-color: white;
                    background: white;
                    color: black;
                }

            }
        }

        .btn.btn-primary {
            width:100%;

            margin-top: 10px;
        
            @media screen and (min-width: 440px) {
                width: 410px;
            }
        
            @include media-breakpoint-up(md) {
                width: unset;
                margin-top: 0;
           }
        
        }

    }

} // #stage
